@media screen and (max-width: 600px) {
    .flex-1 {
        flex-direction: column;
    }

    body {
        font-size: 25px;
    }



    .flex-2{
        width: 100%;
        height: 70%;
    }

    .class-section-2{
        width: 100%;
        height: 30%;
    }


}